<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="CSBuildConfig" type="CSharpTest.Net.CSBuild.Config, CSBuild" />
    </configSections>
	
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <requiredRuntime version="v4.0.30319" safemode="true"/>
    </startup>

    <CSBuildConfig xsi:noNamespaceSchemaLocation="CSBuild.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

        <options>
            <console level="Minimal"/>
            <logfile path="%AppData%\CSBuild\CSBuild.log"/>
        </options>
        
        <projects>
            <add path=".\" relative-to="working-folder"/>
        </projects>

        <target tools="v4.0">
            <log relative-to="working-folder" path="msbuild.txt" level="Detailed"/>
            <xml relative-to="working-folder" path="msbuild.xml" level="Normal"/>
        </target>

    </CSBuildConfig>
</configuration>